<!-- Include Stripe.js -->
<script src="https://js.stripe.com/v3/"></script>

<!-- Your payment form -->
<form id="payment-form">
  <label for="orderId">Order Id</label>
  <input name="order_id" type="number" id="orderId" class="orderClass">
  {{!-- <label for="tokenId">Token User</label>
  <input name="token" type="text" id="tokenId" class="tokenClass"> --}}
  <div id="card-element">
    <!-- Stripe.js injects the Card Element -->
  </div>
  <button id="submit">Pay</button>
  <div id="error-message"></div>
</form>

<script>
  // Create a Stripe client.
  const stripe = Stripe('{{public_key}}');

  // Create an instance of Elements.
  const elements = stripe.elements();

  // Create an instance of the card Element.
  const card = elements.create('card');

  // Add an instance of the card Element into the `card-element` div.
  card.mount('#card-element');

  // Handle form submission.
  const form = document.getElementById('payment-form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const order_id = document.getElementById("orderId").value;
    const {token, error} = await stripe.createToken(card);
    //const token = document.getElementById("tokenId").value;
    if(error) {
      // Show error to your customer
      document.getElementById('error-message').textContent = error.message;
    } else {
      const { data } = await fetch('http://localhost:3000/payment/stripe', {
                        method: 'POST',
                        headers: { 
                          'Content-Type': 'application/json',
                          'Authorization': `Bearer ${token}`,
                        },
                        body: JSON.stringify({ order_id , currency: 'usd' }),
                      }).then(r => r.json());

      const { error, paymentIntent } = await stripe.confirmCardPayment(data.client_secret, {
        payment_method: {
          card: card,
        }
      });

      if (error) {
        // Show error to your customer
        document.getElementById('error-message').textContent = error.message;
      } else if (paymentIntent.status === 'succeeded') {
        // The payment succeeded!
        console.log('Payment succeeded!');
      }
    }
  });
</script>
